<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
        <!-- jquery, moment, and angular have to get included before fullcalendar -->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
        <script type="text/javascript" src="mainApp.js"></script>
        <script type="text/javascript" src="calendarCtrl.js"></script>
        <script type="text/javascript" src="bookingsService.js"></script>
        <script type="text/javascript" src="commService.js"></script>
        <title>Room Booking System</title>

    </head>

    <body ng-app="mainApp" ng-controller="CalendarCtrl">
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>

        <form class="book-Room">
            <div class="book-room-info">
                <p><strong>Building:</strong> Harrison-LeCain Hall</p>
                <p><strong>Room #:</strong> 101</p>
                <p><strong>Date:</strong> {{date}}</p>
                <p><strong>start Time:</strong> {{startTime}}</p>
            </div>
            <strong>Duration: </strong>
            <select ng-model="selectedDuration" ng-options="duration as duration for duration in durations">
            </select>
            </br>
            <strong>Reason</strong>
            <select ng-model="selectedReason" ng-options="reason as reason for reason in reasons">
            </select>
            </br>
            <div ng-show="selectedReason=='Other'">
                <Strong>Description: </Strong>
                <input type="text" name="input" ng-model="description">
            </div>

            <div id="button-bar">
                <button type="submit" class="btn" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn" ng-click="submitRoomBooking()">Submit</button>
            </div>
        </form>

    <!--
    <div>

    <form class="well form-search">
        <label>Search:</label>
        <input type="text" ng-model="keywords" class="input-medium search-query" placeholder="Keywords...">
        <button type="submit" class="btn" ng-click="search()">Search</button>
        <p class="help-block">Try for example: "php" or "angularjs" or "asdfg"</p>      
    </form>
    <pre ng-model="result">
    {{result}}
    </pre>
   </div>
    -->
    </body>
</html>
