<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
        <!-- jquery, moment, and angular have to get included before fullcalendar -->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
        <script type="text/javascript" src="mainApp.js"></script>
        <script type="text/javascript" src="calendarCtrl.js"></script>
        <script type="text/javascript" src="calendarService.js"></script>
        <title>Room Booking System</title>

    </head>

    <body ng-app="mainApp" ng-controller="CalendarCtrl">
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>

    <div>
    <form class="well form-search">
        <label>Search:</label>
        <input type="text" ng-model="keywords" class="input-medium search-query" placeholder="Keywords...">
        <button type="submit" class="btn" ng-click="search()">Search</button>
        <p class="help-block">Try for example: "php" or "angularjs" or "asdfg"</p>      
    </form>
    <pre ng-model="result">
    {{result}}
    </pre>
   </div>

    </body>
</html>
