.building-search-bar{
	margin:20px 10px 20px 20px;
	padding:10px;
	min-width:400px;
	width:30%;
	background-color:#c2d2d6;
}

.building-selection-title{
	display:inline;
	font-size:19px;
	margin-right:7px;
	padding-left:15px;
}

.building-select{
	font-size:15px;
}

.building-go-button{
	margin-left:10px;
	width:60px;
	font-size:15px;
}