.building-search-bar{
	margin:20px 10px 20px 20px;
	padding:10px;
	/*min-width:30em;*/
	width:40%;
	background-color:#c2d2d6;
	text-align:center;
}


.building-selection-title{
	display:inline;
	font-size:120%;
	margin-right:7px;
}

.building-select{
	font-size:100%;
}

.building-go-button{
	margin-left:10px;
	width:60px;
	font-size:100%;
}

.fc-view-container{
	width:90%;
	margin-right:5%;
	margin-left:5%;
}

.fc-center h2{
	font-size:190%;
}

@media screen and (max-width: 700px) {
	.building-search-bar{
		width:65%;
		margin:20px 3px 20px 3px;
	}

@media screen and (max-width: 530px) {
	.building-search-bar{
		width:100%;
		margin:20px 3px 20px 3px;
	}

	.fc-center h2{
		font-size:165%;
	}
}