.navbar-default{
	margin-right: auto;
    margin-left: auto;
    width: 70%;
    margin-top:20px;
}

@media(min-width:768px){
	.navbar-centered .navbar-nav{
		float:none;
		text-align:center;
	}
	.navbar-centered .navbar-nav >li{
		float:none;
		display: inline-block;
	}
	.navbar-center .nav >li {
		display:inline;
	}
	.navbar-centered .nav >li >a{
		display: inline-block;
	}
}