<!-- calendarCtrl -->

    <div class="building-search-bar" ng-init="confirmInitialLoad()">
   <!-- ng-init ensures that the all initial load data has been loaded before loading the page-->
        <p class="building-selection-title"><strong>{{building_selection}}</strong></p>
        <select ng-model="selectedBuilding" ng-options="building as building for building in buildings track by building" class="building-select dropdrown" ng-change="retrieveRooms()"></select>
   </div>

   <!-- alert after attempting to make a booking -->
     <script type="text/ng-template" id="alert.html">
       <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
         <div ng-transclude></div>
       </div>
     </script>

     <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="10000" close="closeAlert($index)">{{alert.msg}}</uib-alert>

   <div class="date-navigation-bar">
        <div class="date-picker-cal">
            <button type="button" class="btn btn-default cal-nav-btn" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
            <input 
                ng-hide="true" 
                type="text" 
                uib-datepicker-popup="{{format}}" 
                ng-model="selectedDate" 
                is-open="popup1.opened" 
                datepicker-options="dateOptions"  
                close-text="Close" 
                show-button-bar="true"/>
        </div>
        <button class="previous-date-button" ng-click="previousDate()"><i class="fa fa-caret-left"></i></button>
        <h2 class="date-text">{{date}}</h2>
        <button class="next-date-button" ng-click="nextDate()"><i class="fa fa-caret-right"></i></button>

        
   </div>

   </br>

    <uib-tabset>
        <uib-tab ng-repeat="tab in tabs track by tab.title" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" select="changeRoom(tab.title)">
        </uib-tab>
  </uib-tabset>
    <div id="calendar-container" ng-show="calRender">
   <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
   </div>


    <!-- Make Booking Popup Template -->
    <div>
        <script type="text/ng-template" id="makeBookingPopup.html">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <div class="modal-title">
            		    <uib-tabset active="active" justified="true">
       						<uib-tab index="0" heading="Book Room">
       						     <form name="makeBookingForm" class="book-Room" ng-submit="submitBooking(makeBookingForm.$valid)" >
                                    <div class="modal-body">
                                        <div class="book-room-info">
                                            <p><strong>Building:</strong> {{bookingDetails.building}}</p>
                                            <p><strong>Room #:</strong> {{bookingDetails.roomNum}}</p>
                                            <table>
                                                <tr>
                                                    <td class="date-column"><strong>Start Date:</strong> {{bookingDetails.date}}</td>
                                                    <td class="date-column"><strong>Start Time:</strong> {{bookingDetails.startTime}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="date-column"><strong>End Date:</strong> {{bookingDetails.date}}</td>
                                                    <td class="end-time date-column"><div><strong>End Time: </strong></div>
                                                    <div><uib-timepicker 
                                                        ng-model="timeInfo.myTime" 
                                                        ng-change="changed()" 
                                                        readonly-input='true' 
                                                        hour-step="hstep" 
                                                        minute-step="mstep" 
                                                        show-meridian="ismeridian" 
                                                        max='maxTime' 
                                                        min='minTime' ></uib-timepicker></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <p>
                                            <strong>Number of People: </strong>
                                            <select ng-model="bookingDetails.selectedNumPeople" ng-options="num as num for num in bookingDetails.numPeople" class="dropdrown"></select>
                                        </p>
                                        <p>
                                            <strong>Reason</strong>
                                            <select ng-model="bookingDetails.selectedReason" ng-options="reason as reason for reason in bookingDetails.reasons" class="dropdrown"></select>
                                        </p>
                                        <div ng-show="bookingDetails.selectedReason=='Other'">
                                            <Strong>Description: </Strong>
                                            <textarea 
                                                name="description" 
                                                ng-model="bookingDetails.description" 
                                                ng-maxlength="150" 
                                                ng-required="bookingDetails.selectedReason=='Other'"></textarea>
                                            <p ng-show="makeBookingForm.bookingDetails.description.$invalid && !makeBookingForm.bookingDetails.description.$pristine"> A description is required</p>
                                        </div>
                                        <div ng-show="bookingDetails.selectedReason=='Performance'">
                                            <Strong>Performance Title: </Strong>
                                            <textarea 
                                                name="description" 
                                                ng-model="bookingDetails.description" 
                                                ng-maxlength="200" 
                                                ng-required="bookingDetails.selectedReason=='Performance'"></textarea>
                                            <p ng-show="makeBookingForm.bookingDetails.description.$invalid && !makeBookingForm.bookingDetails.description.$pristine"> A description is required</p>
                                        </div>
                                        <div ng-show="bookingDetails.selectedReason=='Course' || bookingDetails.selectedReason=='Coursework'">
                                            <Strong>Course Code: </Strong>
                                            <textarea 
                                                rows ="1" 
                                                name="courseCode" 
                                                ng-model="bookingDetails.description" 
                                                ng-maxlength="20" 
                                                ng-required="bookingDetails.selectedReason=='Course' || bookingDetails.selectedReason=='Coursework'"></textarea>
                                            <p ng-show=" (makeBookingForm.$submitted) || (makeBookingForm.bookingDetails.courseCode.$invalid && !makeBookingForm.bookingDetails.courseCode.$pristine)"> A course code is required</p>
                                        </div>
                                        <div class="box" ng-show="bookingDetails.userType !='student'">
                                            <div>
                                                <Strong> Recurring Booking: </Strong>
                                              <input
                                                type="checkbox"
                                                name="reccurBool"
                                                ng-checked="false"
                                                ng-model="bookingDetails.reccurBool"
                                              > 
                                            </div>
                                            <div>
                                                <Strong> Number of Weeks: </Strong>
                                              <input
                                                type="number"
                                                name="numWeeks"
                                                ng-model="bookingDetails.numWeeks"
                                                ng-required="bookingDetails.reccurBool == true"
                                                max="bookingDetails.maxReccur"
                                                min="2"
                                                class="dropdrown"
                                              > 
                                              <p ng-show=" (bookingDetails.numWeeks > bookingDetails.maxReccur) && (bookingDetails.reccurBool == true)"> The number of weeks cannot exceed {{bookingDetails.maxReccur}}</p>
                                              <p ng-show=" (bookingDetails.numWeeks < 2) && (bookingDetails.reccurBool == true)"> The number of weeks must exceed 1</p>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn submit-style" ng-click="cancel()">Back</button>
                                        <button type="submit" class="btn submit-style">Book Room</button>
                                    </div>
                                </form>
       						 
       				         </uib-tab>
                    
            				 <uib-tab index="1" heading="Room Information">

            				 	 <div class="modal-body">
            				 	 	<p><strong>Building: </strong>{{infoBuilding}}</p>
            				 	 	<p><strong>Room #: </strong>{{roomID}}</p>
            				 	    <p><strong>Capacity: </strong>{{capacity}}</p>
                				 	<p><strong>Fee: </strong>{{fee}}</p>
                				 	<p><strong>Requires Key: </strong>{{reqKey}}</p>
                				 	<p><strong>Room Setup: </strong>{{setup}}</p>
                				 	<p><strong>Contents: </strong>{{contents}}</p>
                				 	<p><strong>Open Time: </strong>{{openTime}}  <strong>Close Time: </strong>{{closeTime}}</p>
            				  
            				 	 </div> 
            				 	 
            				 	 <div class="modal-footer">
            				 	  	<button class="btn submit-style" ng-click="cancel()">Exit</button>
            				 	 </div>
            				</uib-tab> 	 
                        </uib-tabset>
                    </div>
                </div>
               
            </div>
        </script>  
    </div>


    <!-- View Booking Popup Template -->
    <div>
        <script type="text/ng-template" id="viewBookingPopup.html">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Booking Information</h4>
                </div>
                <div class="modal-body">
                    <form class="book-Room">
                        <div class="book-room-info">
                            <p><strong>Building:</strong> {{building}}</p>
                            <p><strong>Room #:</strong> {{roomNum}}</p>
                            <p><strong>Date:</strong> {{date}}</p>
                            <p><strong>Time:</strong> {{startTime}} - {{endTime}}</p>
                        <p><strong>Number of People: </strong> {{numPeople}}</p>
                        <p><strong>Reason:</strong> {{reason}}</p>
                        <div ng-show="reason=='Other'">
                            <p><Strong>Description: </Strong> {{description}}</p>
                        </div>
                        <div ng-show="reason=='Performance'">
                            <p><Strong>Performance Title: </Strong> {{description}}</p>
                        </div>
                        <div ng-show="reason=='Course' || reason=='Coursework'">
                            <p><Strong>Course Code: </Strong> {{description}}</p>
                        </div>
                        <div ng-show="userType != 'student' && userType != 'nonbooking'">
                        <Strong> Booking User Information </Strong>
                            <div class="box">
                                
                                 <p><strong>Name:</strong> {{userName}}</p>
                                 <p><strong>Type:</strong> {{bookingUserType}}</p>
                                 <p><strong>Email:</strong> {{userEmail}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn submit-style cancel" ng-show="userType=='admin'" ng-click="cancelBooking()">Cancel Booking</button>
                    <button type="submit" class="btn submit-style" ng-click="cancel()">Back</button>

                </div>
            </div>
        </script>  
    </div>

    <!--Booking Confirmation Popup Template -->
    <div>
        <script type="text/ng-template" id="bookingConfirmationPopup.html">
            <!-- Modal content-->
            <div class="modal-content confirmation-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title " ng-class="{'success' : success, 'confirmation-error' : !success }">{{statusText}}</h4>
                </div>
                <div class="modal-body confirmation-body">
                        <div class="book-room-info">
                            <p><strong>Building:</strong> {{building}}</p>
                            <p><strong>Room #:</strong> {{roomNum}}</p>
                            <p><strong>Date:</strong> {{date}}</p>
                            <p><strong>Time:</strong> {{startTime}} - {{endTime}}</p>
                            <p><strong>Number of People: </strong> {{numPeople}}</p>
                            <p><strong>Reason:</strong> {{reason}}</p>
                            <div ng-show="reason=='Other'">
                                <p><Strong>Description: </Strong> {{description}}</p>
                            </div>
                            <div ng-show="reason=='Course' || reason=='Coursework'">
                                <p><Strong>Course Code: </Strong> {{description}}</p>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn submit-style" ng-click="cancel()">Ok</button>

                </div>
            </div>
        </script>  
    </div>

    <!--Recurring Booking Confirmation Popup Template -->
    <div>
        <script type="text/ng-template" id="recurringBookingConfirmationPopup.html">
            <!-- Modal content-->
            <div class="modal-content confirmation-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title " ng-class="{'success' : success, 'confirmation-error' : !success || !allBookingsSucceeded }">{{statusText}}</h4>
                </div>
                <div class="modal-body confirmation-body">
                    <div class="book-room-info">
                        <p><strong>Building:</strong> {{building}}</p>
                        <p><strong>Room #:</strong> {{roomNum}}</p>
                        <p><strong>Time:</strong> {{startTime}} - {{endTime}}</p>
                    </div>
                </div>
                <div class="box confirmPop green" ng-show="success">
                    <div>
                        <Strong> Successful Bookings: </Strong>
                    </div>
                    <div ng-repeat="entry in successfulBookings">{{entry | date:'MMM d, yyyy'}}</div>
                </div>
                <div class="box confirmPop red" ng-show="!allBookingsSucceeded">
                    <div>
                        <Strong> Failed Bookings: </Strong>
                    </div>
                    <div ng-repeat="entry in failedBookings">{{entry | date:'MMM d yyyy'}}</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn submit-style" ng-click="closePopup()" ng-show="success">Continue with successful bookings </button>
                    <button type="submit" class="btn submit-style" ng-click="closePopup()" ng-show="!success">Ok </button>
                    <button ng-show="!allBookingsSucceeded" type="submit" class="btn submit-style" ng-click="cancelAll()">Cancel All Bookings</button>

                </div>
            </div>
        </script>  
    </div>

