.calendar .building-search-bar{
	display: inline-block;
    margin: 20px 10px 20px 20px;
    padding: 15px 15px;
    background-color: #c2d2d6;
    border-radius: 4px;
}

.calendar .building-selection-title{
	display:inline;
	font-size:120%;
	margin-right:7px;
}

.calendar .room{
	margin-top:7px;
}
.calendar .room-title{
	font-size:120%;
	margin-right:7px;
}

.calendar .building-select{
	font-size:100%;
}

.calendar .building-go-button{
	margin-left:10px;
	width:60px;
	font-size: 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.calendar .fc-content{
	position: absolute !important;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    font-size:14px;
    margin-left: 10px;
    /*color:black;*/
}

.calendar .date-navigation-bar{
	text-align:center;
}

.calendar .previous-date-button, .calendar .next-date-button{
	color: #333 !important;
    background-color: #fff;
    border-color: #ccc;
    padding-right: 2px;
    font-size: 23px !important;
    padding: 0px 0px;
    border-radius: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom-width: 2px;
    width: 36px;
}

.cal-nav-btn{
	margin-bottom: 7px !important;
}

/*overide tabs default*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #D0DBE3 !important;
}

/*override calendar default*/
.fc-widget-header{
	background-color: rgba(208,219,227,0.2);
}

.fc-axis.fc-time{
	background-color: rgba(208,219,227,0.3);
}

/* Gridlines on time axis */
.fc th, .fc td {
	border-color: #C0AFAF;

}
/* 30 minute gridlines */
.fc-time-grid .fc-slats .fc-minor td {

}

.calendar .date-text {
	display:inline;
	font-size:190%;
}

.calendar .fc-view-container{
	width:90%;
	margin-right:5%;
	margin-left:5%;
}

.fc-today{
	background-color:red;
}

 .fc-time-grid-container{
 	height:100% !important;
 }

/* tabs */
.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-left: 20px;
    margin-right: 20px;
 }

.calendar .date-picker-cal {
  position: relative;
  display:inline;
}
.calendar .date-picker-cal .dropdown-menu {
     margin-top: 10px;
     top:auto !important;
 }

.calendar .btn.btn-sm.btn-danger{
	display:none;
}



@media screen and (max-width: 700px) {
	.calendar .building-search-bar{
		margin:20px 3px 20px 3px;
	}

@media screen and (max-width: 530px) {
	.calendar .building-search-bar{
		margin:20px 3px 20px 3px;
	}

	.calendar .date-text {
		font-size:165%;
	}
}