.calendar .building-search-bar{
	display:inline-block;
	margin:20px 10px 20px 20px;
	padding:10px;
	/*min-width:30em;*/
	background-color:#c2d2d6;
}

.calendar .building-selection-title{
	display:inline;
	font-size:120%;
	margin-right:7px;
}

.calendar .room{
	margin-top:7px;
}
.calendar .room-title{
	font-size:120%;
	margin-right:7px;
}

.calendar .building-select{
	font-size:100%;
}

.calendar .building-go-button{
	margin-left:10px;
	width:60px;
	font-size: 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.calendar .fc-content{
	position: absolute !important;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    font-size:14px;
    margin-left: 10px;
}

.calendar .date-navigation-bar{
	text-align:center;
}

.calendar .fc-toolbar{
	height: 10px;
	margin:0px;
}

.calendar .previous-date-button, .calendar .next-date-button{
	width:40px;
	font-size:20px;
	border-radius:5px;
	margin-right:10px;
	margin-left:10px;
}

/*overide tabs default*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #D0DBE3 !important;
}

/*override calendar default*/
.fc-widget-header{
	background-color: rgba(208,219,227,0.2);
}

.fc-axis.fc-time{
	background-color: rgba(208,219,227,0.3);
}

/* Gridlines on time axis */
.fc th, .fc td {

}
/* 30 minute gridlines */
.fc-time-grid .fc-slats .fc-minor td {

}

.calendar .date-text {
	display:inline;
	font-size:190%;
}

.calendar .fc-view-container{
	width:90%;
	margin-right:5%;
	margin-left:5%;
}


@media screen and (max-width: 700px) {
	.calendar .building-search-bar{
		margin:20px 3px 20px 3px;
	}

@media screen and (max-width: 530px) {
	.calendar .building-search-bar{
		margin:20px 3px 20px 3px;
	}

	.calendar .date-text {
		font-size:165%;
	}
}