<div class="container groups-container">
    <span class="title">User Groups</span>
            <button class="new-group-button" ng-click="newGroup()"> 
                <span class="glyphicon glyphicon-plus" aria-label="New Group"></span>
            </button>

    <div class="group-list">
        <div class="group-element" data-ng-repeat="group in groups" ng-click="showGroup(group.groupID)">
            {{ group.groupName }}
        </div>
    </div>

</div>
<div ng-show="showInfo" class="container info-container">    
    <div class="group-info">
        <p><strong>Group Name:</strong> {{groupName}}</p>
        <p><strong>Number of Users:</strong> {{numUsers}}</p>
        <p><strong>Has Booking Duration Restriction:</strong> {{hasBookingDurationRestriction}} </p>
        <p><strong>Hours Type:</strong> {{addHrsType}}
        <strong>Hours:</strong> {{setHours}} </p>
        <p><strong>Start Date:</strong> {{setStartDate}} </p>
        <p><strong>End Date:</strong> {{setEndDate}} </p>
        <form action="src/php/admin/addUsers.php" method="post" enctype="multipart/form-data">
            <strong>Add Users</strong>
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="Upload User List" name="submit">
        </form>
    </div>
</div>
<div ng-show="showNewGroup" class="container info-container">    
    <form class="group-info">
            <p><strong>Group Name:</strong> 
				<input type="text" ng-model="newName" class="form-control textbox"> </p>
			<p>*Check option below if users need to make bookings longer than 1.5 hours at a time*</p>
			<p><strong>Has Booking Duration Restriction:</strong>
				<input type="checkbox" ng-model="restriction" ng-init="restriction = 'NO'" ng-true-value="'YES'" ng-false-value="'NO'" ng-change="changeRes() "></p>
				
			<div class="boxed">
				<p><input type="radio" ng-value="1" ng-init="addHrsType=1" ng-model="addHrsType"> 
			<strong>Hours Per Week</strong>
			<strong> </br> OR </br> </strong>
				<input type="radio" ng-value="2" ng-model="addHrsType"> 
			<strong>Total Hours</strong></p>
				<p><input type="number" ng-model="hours" min=0 max=168 value=1 class="form-control textbox"> </p>
			</div>
			</br>
			<div class="boxed">
			<p><strong>Active:</strong>
				<input type="checkbox" ng-model="fall" ng-init="fall = 'NO'" ng-true-value="'YES'" ng-false-value="'NO'" ng-change="changeFall() ">Fall  
				<input type="checkbox" ng-model="winter" ng-init="winter = 'NO'" ng-true-value="'YES'" ng-false-value="'NO'" ng-change="changeWinter() ">Winter  
				<input type="checkbox" ng-model="summer" ng-init="summer = 'NO'" ng-true-value="'YES'" ng-false-value="'NO'" ng-change="changeSummer() ">Summer<br></p>
			<strong> OR </br> </strong>
			<p><strong>Start Date:</strong>
				<input type="date" ng-model="startDate"> </p>
			<p><strong>End Date:</strong>
				<input type="date" ng-model="endDate"> </p>
			</div>
			</br>
                <button class="btn create-group-button" ng-click="createGroup()">Create Group</button> 
   			
    </form>
</div>