.title {
	font-size: 36px;
}

.container {
	border-style:solid;
	border-radius: 25px;
	margin: 20px;
}

.group-element {
	border: solid 1px #CCCCCC; 
	border-top-width: 0px ;
	text-align: center;
	padding: 2px;
}

.group-element:first-child {
	border-top-width: 1px ;
}

.group-list {
	margin: 10px;
}

.create-group-button {
	border-radius: 5px;
}


