<div class="container groups-container">
    <span class="title">User Groups</span>
    <button class="create-group-button" ng-click="newGroup()"> New </button>

    <div class="group-list">
        <div class="group-element" data-ng-repeat="group in groups" ng-click="showGroup(group.groupID)">
            {{ group.groupName }}
        </div>
    </div>

</div>
<div ng-show="showInfo" class="container info-container">    
    <div class="group-info">
        <p><strong>Group Name:</strong> {{groupName}}</p>
        <p><strong>Hours Per Week:</strong> {{hoursPerWeek}}</p>
    </div>
</div>
<div ng-show="showNewGroup" class="container info-container">    
    <form class="group-info">
        <p><strong>Group Name:</strong> </p>
        <p><strong>Hours Per Week:</strong> </p>
    </form>
</div>