.keyList table{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}

.keyList th{
	text-align: center;
    padding: 15px;
    border: solid 1px;
    background-color: #c2d2d6;
    font-weight:bold;
}

.keyList td{
	border: solid 1px;
    padding: 10px;
}

.keyList .set-date{
    text-align: center;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: #c2d2d6;
        border-radius: 4px;
}

.keyList .download{
    text-align: center;
    border: solid 3px;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: #c2d2d6;
}