<div ng-init="confirmInitialLoad()" class="info-container">
	<div class="display-flex"></div>

	<div class="user-information-cnontainer">
		<div>
			<div class="title">User Information </div>
			<div class="info"><strong>{{user_name}} </strong>{{userName}}</div>
			<div class="info"><strong>{{user_email}} </strong>{{email}}</div>
			<div class="info"><strong>{{user_department}} </strong>{{department}}</div>
		</div>
	</div>
	<div class="hours-remaining"> 
		<span uib-tooltip= "As a student user your remaining weekly hours are calculated from Monday to Sunday inclusive. If you cancel a booking made after Sunday your hours will be returned to your next week remaining hours." ng-show="userType == 'student'"><img src="info-icon.png" class="info-i"></span>

		<span uib-tooltip= "As a faculty or admin user you have unlimited room booking hours. Only student users have a specific number of room booking hours per week." ng-show="userType != 'student'"><img src="info-icon.png" class="info-i"></span>
		    	<strong>{{hours_remain }}</strong>
		<span>{{hours}}</span>
	</div>
</div>
<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="10000" close="closeAlert($index)">{{alert.msg}}</uib-alert>


<h3 class="myBookings-header"> {{title_my_bookings}} </h3>
<div class="bookings">
	<table>
		<thead>
			<tr>
				<th>{{header_date}}</th>
				<th>{{header_time}}</th>
				<th>{{header_building_name}}</th>
				<th>{{header_room_num}}</th>
				<th>{{header_key_req}}</th>
				<th>{{header_reason}}</th>
				<th>{{header_click_cancel}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="booking in bookings">

				<td>{{booking.date | date:'EEE, MMM d yyyy'}}</td>
				<td>{{booking.start | date:'h:mm a'}} - {{booking.end | date:'h:mm a'}}</td>
				<td>{{booking.building}}</td>
				<td>{{booking.roomNum}}</td>
				<td>{{booking.keyRequired}}</td>
				<td>{{booking.reason}}</td>
				<td><button ng-click="cancel(booking,false)" class="submit-style cancel-button"><i class="fa fa-times"></i></button></td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-show="userType != 'student'">
	<h3 class="myBookings-header"> {{title_rec_bookings}} </h3>
	<p class="myBookings-header">{{rec_info}}</p>
	<div class="bookings">
		<table>
			<tr>
				<th>{{header_day_week}}</th>
				<th>{{header_time}}</th>
				<th>{{header_bookings_remain}}</th>
				<th>{{header_building_name}}</th>
				<th>{{header_room_num}}</th>
				<th>{{header_key_req}}</th>
				<th>{{header_reason}}</th>
				<th>{{header_click_cancel}}</th>
			</tr>
			<tbody ng-repeat="reBooking in recurringBookings">
				<tr >
					<td ng-click="toggleDetail(reBooking.recurringID)">{{reBooking.dayOfWeek}}</td>
                    <td ng-click="toggleDetail(reBooking.recurringID)">{{reBooking.time }}</td>
                    <td ng-click="toggleDetail(reBooking.recurringID)">{{reBooking.weeksRemaining}}</td>
                    <td ng-click="toggleDetail(reBooking.recurringID)">{{reBooking.building}}</td>
                    <td ng-click="toggleDetail(reBooking.recurringID)">{{reBooking.roomNum}}</td>
                    <td ng-click="toggleDetail(reBooking.recurringID)">{{reBooking.keyRequired}}</td>
                    <td ng-click="toggleDetail(reBooking.recurringID)">{{reBooking.reason}}</td>
					<td><button ng-click="cancelAllRecur(reBooking)" class="submit-style cancel-button"><i class="fa fa-times"></i></button></td>
				</tr>
				<tr ng-repeat="booking in reBooking.recurringBooking" ng-show="activePosition == booking.recurringID">
					<td colspan="7">{{booking.date | date:'EEE, MMM d yyyy'}}</td>
					<td colspan="1"><button ng-click="cancel(booking,true)" class="submit-style cancel-button"><i class="fa fa-times"></i></button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Cancel single booking -->
<div>
    <script type="text/ng-template" id="confirmCancel.html">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Are you sure you want to cancel the following booking?</h4>
            </div>
            <div class="modal-body">
            	<div><strong>Date:</strong> {{booking.date | date:'EEE, MMM d yyyy'}}</div>
            	<div ng-show="recurring"><strong>Time:</strong> {{booking.time}}</div>
            	<div ng-show="!recurring"><strong>Time:</strong> {{booking.start | date:'h:mm a'}} - {{booking.end | date:'h:mm a'}}</div>
				<div><strong>Building:</strong> {{booking.building}}</div>
				<div><strong>Room #:</strong> {{booking.roomNum}}</div>
				<div><strong>Key Required:</strong> {{booking.keyRequired}}</div>
				<div><strong>Reason:</strong> {{booking.reason}}</div>
				<div style="margin-top:10px;"> After Cancellation you we be creditied the hours used for this booking.</div>
        	</div>
        	<div class="modal-footer">
                <button type="submit" class="btn cancel submit-style" ng-click="cancelBooking()">Cancel Booking</button>
                <button type="submit" class="btn submit-style" ng-click="back()">Back</button>

            </div>
    </script>  
</div>

<!-- Cancel all recurring bookings-->
<div>
    <script type="text/ng-template" id="confirmCancelAllRecur.html">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Are you sure you want to cancel ALL the recurring bookings associated with this booking?</h4>
            </div>
            <div class="modal-body">
            	<div><strong>Building:</strong> {{recurrBookings.building}}</div>
				<div><strong>Room #:</strong> {{recurrBookings.roomNum}}</div>
            	<div><strong>Time:</strong> {{recurrBookings.time}}</div>

            	<h4> Recurring Bookings </h4>
            	<div ng-repeat="booking in recurrBookings.recurringBooking">
            	<div><strong>Date:</strong> {{booking.date}}</div>
            	</div>
				

        	<div class="modal-footer">
                <button type="submit" class="btn cancel submit-style" ng-click="cancelBooking()">Cancel All Bookings</button>
                <button type="submit" class="btn submit-style" ng-click="back()">Back</button>

            </div>
    </script>  
</div>

