
.myBookings .hours-remaining{
    font-size: 130%;
    padding: 15px 0px;
    min-width: 306px;
    border-radius: 4px;
    flex: 1;
    text-align: center;
}

.myBookings .display-flex{
    flex:1;
}

.myBookings .user-information-cnontainer{
	text-align: center;
    flex:1;
}

.myBookings .info-container{
    width: 100%;
    display: flex;
}

.myBookings .title{
	font-size: 140%;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
}

.myBookings .info{
	font-size:100%;
}

.myBookings .myBookings-header{
    text-align:center;
}

.myBookings .bookings{
    display: flex;
    justify-content: center;
    text-align: center;
}

.myBookings table{
    margin:10px;
}


.myBookings th{
	text-align: center;
    padding: 15px;
    border: solid 1px;
    background-color: #c2d2d6;
    font-weight:bold;
}

.myBookings td{
	border: solid 1px;
    padding: 10px;
}

.myBookings .float-right{
    float:right;
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .myBookings .hours-remaining{
        font-size: 110%;
        padding: 15px 0px;
        min-width: 306px;
        border-radius: 4px;
        text-align: center;
    }

    .myBookings .display-flex{
        flex:0;
    }

    .myBookings .user-information-cnontainer{
        text-align: center;
        font-size: 110%;
    }

    .myBookings .info-container {
        width: 100%;
        display:block !important;
    }

    .myBookings .bookings {
        display: flex;
        justify-content: center;
        text-align: center;
        overflow: scroll;
    }

    .myBookings table {
        margin: 10px;
        min-width: 740px;
    }
    
}
