<div class="search-bar" ng-init="confirmInitialLoad()">
   <!-- ng-init ensures that the all initial load data has been loaded before loading the page-->
   <table>
   <tr>

   		<td class="width50" colspan="2" >
   			<div class="form-inline">
   			<label class = "date-header"><strong>Date:</strong></label>
   			<div class="input-group">
   			<!-- datePicker -->
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="selectedDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
           </div>
   		</td>
   		<td class="width50" colspan="2">
   		<!-- building selection dropdown -->
	   		<p class="building-selection-title"><strong>Building:</strong></p>
	        <select ng-model="selectedBuilding" ng-options="building as building for building in buildings track by building" class="building-select" ng-change="retrieveRooms()"></select>
	    </td>
	</tr>
    <tr>
    	<td  colspan="4" >
    	<!-- start and end time picker -->
    	<div class="time-picker-align col-lg-12">
    		<p class="time-picker-header"><strong>Time: </strong></p>
    		<div><uib-timepicker ng-model="myStartTime" ng-change="changed()" readonly-input='true' hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" max='maxTime' ></uib-timepicker> </div>
    		 <p class="time-picker-header"><strong> to </strong></p>
    		<div><uib-timepicker ng-model="myEndTime" ng-change="changed()" readonly-input='true' hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" min='minTime'></uib-timepicker> </div>
    	</div>
    	</td>
        
    </tr>
    <tr>
    <td colspan="4">
    	<!-- contents check boxes -->
    	<label ng-repeat="content in contents">
		  <input
		    type="checkbox"
		    name="selectedContents[]"
		    value="{{content}}"
		    ng-checked="selection.indexOf(content) > -1"
		    ng-click="toggleSelection(content)"
		  > {{content}}
		</label>
    </td>
    </tr>
    </table>
    <button ng-click="search()"> Search</button>
   </div>

   
   <uib-tabset>
        <uib-tab ng-repeat="tab in tabs track by tab.title" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" select="changeRoom(tab.title)">
        </uib-tab>
  </uib-tabset>
    <div id="calendar-container" ng-show="calRender">
   <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
   </div>
