<span uib-tooltip= "Search for at least a 30 minute available booking slot for a given building within a specified time period."><img src="info-icon.png" class="info-i"></span>
<h1 style="display: inline;">{{search_explanation}}</h1>
<div class="search-bar" ng-init="confirmInitialLoad()">
   <!-- ng-init ensures that the all initial load data has been loaded before loading the page-->
   <table>
   <tr>

   		<td class="width50 smaller-side-padding" colspan="2">
   			<div class="form-inline">
   			<label class = "date-header"><strong>{{date_selection}}</strong></label>
   			<div class="input-group">
   			<!-- datePicker -->
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="selectedDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
           </div>
   		</td>
   		<td class="width50 smaller-side-padding" colspan="2">
   		<!-- building selection dropdown -->
	   		<p class="building-selection-title"><strong>{{building_selection}} </strong></p>
	        <select ng-model="selectedBuilding" ng-options="building as building for building in buildings track by building" class="building-select dropdrown" ng-change="retrieveRooms()"></select>
	    </td>
	</tr>
    <tr>
    	<td  colspan="4" >
    	<!-- start and end time picker -->
    	<div class="time-picker-align col-lg-12">
    		<p class="time-picker-header"><strong>{{time_selection}} </strong></p>
    		<div><uib-timepicker ng-model="myStartTime" ng-change="changed()" readonly-input='true' hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" max='maxTime' ></uib-timepicker> </div>
    		 <p class="time-picker-header"><strong> {{time_between}} </strong></p>
    		<div><uib-timepicker ng-model="myEndTime" ng-change="changed()" readonly-input='true' hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" min='minTime'></uib-timepicker> </div>
    	</div>
    	</td>
        
    </tr>
    <tr>
    <td colspan="4" class="default-padding">
    <span uib-tooltip= "By selecting a contents box the system will find only rooms which contain all of the checked items. If no boxes are selected the system will find rooms that match your other search criteria."><img src="info-icon.png" class="info-i"></span>
    	<!-- contents check boxes -->
    	<label ng-repeat="content in contents">
		  <input
		    type="checkbox"
		    name="selectedContents[]"
		    value="{{content}}"
		    ng-checked="selection.indexOf(content) > -1"
		    ng-click="toggleSelection(content)"
		  > {{content}}
		</label>
    </td>
    </tr>
    </table>
    <button ng-click="search()" class="submit-style"> {{search_button}}</button>
   </div>

   <!-- alert after attempting to make a booking -->
     <script type="text/ng-template" id="alert.html">
       <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
         <div ng-transclude></div>
       </div>
     </script>

     <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="10000" close="closeAlert($index)">{{alert.msg}}</uib-alert>


   <uib-tabset>
        <uib-tab ng-repeat="tab in tabs track by tab.title" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" select="changeRoom(tab.title)">
        </uib-tab>
  </uib-tabset>
  <h1 ng-show="searchResults"> {{no_results}} </h1>
    <div id="calendar-container" ng-if="calRender"  ng-class="{'fully-transparent' : makeTransparent}">
   <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
   </div>

    
    <!-- Make Booking Popup Template -->
    <div>
        <script type="text/ng-template" id="makeBookingPopup.html">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <div class="modal-title">
                    <uib-tabset active="active" justified="true">
                  <uib-tab index="0" heading="Book Room">
                       <form name="makeBookingForm" class="book-Room" ng-submit="submitBooking(makeBookingForm.$valid)" novalidate>
                                    <div class="modal-body">
                                        <div class="book-room-info">
                                            <p><strong>Building:</strong> {{bookingDetails.building}}</p>
                                            <p><strong>Room #:</strong> {{bookingDetails.roomNum}}</p>
                                            <table>
                                                <tr>
                                                    <td class="date-column"><strong>Start Date:</strong> {{bookingDetails.date}}</td>
                                                    <td class="date-column"><strong>Start Time:</strong> {{bookingDetails.startTime}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="date-column"><strong>End Date:</strong> {{bookingDetails.date}}</td>
                                                    <td class="end-time date-column"><div><strong>End Time: </strong></div>
                                                    <div><uib-timepicker 
                                                        ng-model="timeInfo.myTime" 
                                                        ng-change="changed()" 
                                                        readonly-input='true' 
                                                        hour-step="hstep" 
                                                        minute-step="mstep" 
                                                        show-meridian="ismeridian" 
                                                        max='maxTime' 
                                                        min='minTime' ></uib-timepicker></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <p>
                                            <strong>Number of People: </strong>
                                            <select ng-model="bookingDetails.selectedNumPeople" ng-options="num as num for num in bookingDetails.numPeople" class="dropdrown"></select>
                                        </p>
                                        <p>
                                            <strong>Reason</strong>
                                            <select ng-model="bookingDetails.selectedReason" ng-options="reason as reason for reason in bookingDetails.reasons" class="dropdrown"></select>
                                        </p>
                                        <div ng-show="bookingDetails.selectedReason=='Other'" class="form-group">
                                            <Strong>Description: </Strong>
                                            <textarea
                                                ng-model="bookingDetails.description" 
                                                name="description"
                                                ng-maxlength="100" 
                                                ng-required="bookingDetails.selectedReason =='Other'"
                                                class="form-control dropdrown"></textarea>
                                                <p ng-show="makeBookingForm.description.$error.maxlength" class="help-block">You cannot exceed 150 characters in this field</p>
                                                <p ng-show="makeBookingForm.description.$invalid && !makeBookingForm.description.$pristine && !makeBookingForm.description.$error.maxlength" class="help-block">Please provide a description for your booking</p>
                                                 <p ng-show="makeBookingForm.description.$invalid && makeBookingForm.description.$pristine && !makeBookingForm.description.$error.maxlength && bookingDetails.submitted" class="help-block">Please provide a description for your booking</p>
                                        </div>
                                        <div ng-show="bookingDetails.selectedReason=='Performance'">
                                            <Strong>Performance Title: </Strong>
                                            <textarea 
                                                name="performanceTitle" 
                                                ng-model="bookingDetails.performanceTitle" 
                                                ng-maxlength="100" 
                                                ng-required="bookingDetails.selectedReason=='Performance'"
                                                class="form-control dropdrown"></textarea>
                                                <p ng-show="makeBookingForm.performanceTitle.$error.maxlength" class="help-block">You cannot exceed 200 characters in this field</p>
                                                <p ng-show="makeBookingForm.performanceTitle.$invalid && !makeBookingForm.performanceTitle.$pristine && !makeBookingForm.performanceTitle.$error.maxlength" class="help-block">A Performance title is required</p>
                                                <p ng-show="makeBookingForm.performanceTitle.$invalid && makeBookingForm.performanceTitle.$pristine && !makeBookingForm.performanceTitle.$error.maxlength && bookingDetails.submitted" class="help-block">A Performance title is required</p>
                                        </div>
                                        <div ng-show="bookingDetails.selectedReason=='Course' || bookingDetails.selectedReason=='Coursework'">
                                            <Strong>Course Code: </Strong>
                                            <input type="text"
                                                rows ="1" 
                                                name="courseCode" 
                                                ng-model="bookingDetails.courseCode" 
                                                ng-maxlength="20" 
                                                ng-required="bookingDetails.selectedReason=='Course' || bookingDetails.selectedReason=='Coursework'"
                                                class="dropdrown">
                                                <p ng-show="makeBookingForm.courseCode.$error.maxlength" class="help-block">You cannot exceed 20 characters in this field</p>
                                                <p ng-show="makeBookingForm.courseCode.$invalid && !makeBookingForm.courseCode.$pristine && !makeBookingForm.courseCode.$error.maxlength" class="help-block">A course code is required</p>
                                                <p ng-show="makeBookingForm.courseCode.$invalid && makeBookingForm.courseCode.$pristine && !makeBookingForm.courseCode.$error.maxlength && bookingDetails.submitted" class="help-block">A course code is required</p>
                                        </div>
                                        <div class="box" ng-show="bookingDetails.userType !='student'">
                                            <div>
                                                <Strong> Recurring Booking: </Strong>
                                              <input
                                                type="checkbox"
                                                name="reccurBool"
                                                ng-checked="false"
                                                ng-model="bookingDetails.reccurBool"
                                              > 
                                            </div>
                                            <div ng-show="bookingDetails.reccurBool">
                                                <Strong> Number of Weeks: </Strong>
                                              <input
                                                type="number"
                                                name="numWeeks"
                                                ng-model="bookingDetails.numWeeks"
                                                ng-required="bookingDetails.reccurBool == true"
                                                max="bookingDetails.maxReccur"
                                                min="2"
                                                class="dropdrown"
                                              > 
                                              <span ng-show="bookingDetails.userType == 'faculty'" uib-tooltip= "Please include the original booking when calculating the number of reccuring bookings you would like to make. You may make recurring bookings for the current semester"><img src="info-icon.png" class="info-i"></span>
                                              <span ng-show="bookingDetails.userType == 'admin'" uib-tooltip= "Please include the original booking when calculating the number of reccuring bookings you would like to make. You may create reccuring bookings for the entire academic year"><img src="info-icon.png" class="info-i"></span>
                                              <p ng-show=" (bookingDetails.numWeeks > bookingDetails.maxReccur) && (bookingDetails.reccurBool == true)" class="help-block"> The number of weeks cannot exceed {{bookingDetails.maxReccur}}</p>
                                              <p ng-show="makeBookingForm.numWeeks.$error.min" class="help-block"> The number of weeks must exceed 1</p>
                                              <p ng-show="makeBookingForm.numWeeks.$invalid && makeBookingForm.numWeeks.$pristine && !makeBookingForm.numWeeks.$error.min && bookingDetails.submitted" class="help-block">Please provide a number of weeks</p>
                                              <p ng-show="makeBookingForm.numWeeks.$invalid && !makeBookingForm.numWeeks.$pristine && !makeBookingForm.numWeeks.$error.min && bookingDetails.submitted" class="help-block">Please provide a number of weeks</p>
                                              <p ng-show="makeBookingForm.numWeeks.$error.number" class="help-block">not a valid number</p>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn submit-style" ng-click="cancel()">Back</button>
                                        <button type="submit" class="btn submit-style">Book Room</button>
                                    </div>
                                </form>
                   
                       </uib-tab>
                    
                     <uib-tab index="1" heading="Room Information">

                       <div class="modal-body information-header">
                                     <table>
                              <tr><td><strong>Building: </strong></td><td>{{infoBuilding}}</td></tr>
                              <tr><td><strong>Room #: </strong></td><td>{{roomID}}</td></tr>
                              <tr><td><strong>Capacity: </strong></td><td>{{capacity}}</td></tr>
                                <tr><td><strong>Fee: </strong></td><td>{{fee}}</td></tr>
                                <tr><td><strong>Requires Key: </strong></td><td>{{reqKey}}</td></tr>
                                <tr><td><strong>Room Setup: </strong></td><td>{{setup}}</td></tr>
                                <tr><td><strong>Contents: </strong></td><td>{{contents}}</td></tr>
                                <tr><td><strong>Building Hours: </strong></td><td>{{openTime}}  <strong> - </strong>{{closeTime}}</td></tr>
                            </table>
                       </div> 
                       
                       <div class="modal-footer">
                          <button class="btn submit-style" ng-click="cancel()">Exit</button>
                       </div>
                    </uib-tab>   
                        </uib-tabset>
                    </div>
                </div>
               
            </div>
        </script>  
    </div>


    <!-- View Booking Popup Template -->
    <div>
        <script type="text/ng-template" id="viewBookingPopup.html">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Booking Information</h4>
                </div>
                <div class="modal-body">
                    <form class="book-Room">
                        <div class="book-room-info">
                            <p><strong>Building:</strong> {{building}}</p>
                            <p><strong>Room #:</strong> {{roomNum}}</p>
                            <p><strong>Date:</strong> {{date}}</p>
                            <p><strong>Time:</strong> {{startTime}} - {{endTime}}</p>
                        <p><strong>Number of People: </strong> {{numPeople}}</p>
                        <p><strong>Reason:</strong> {{reason}}</p>
                        <div ng-show="reason=='Other'">
                            <p><Strong>Description: </Strong> {{description}}</p>
                        </div>
                        <div ng-show="reason=='Performance'">
                            <p><Strong>Performance Title: </Strong> {{description}}</p>
                        </div>
                        <div ng-show="reason=='Course' || reason=='Coursework'">
                            <p><Strong>Course Code: </Strong> {{description}}</p>
                        </div>
                        <div ng-show="userType != 'student' && userType != 'nonbooking'">
                        <Strong> Booking User Information </Strong>
                            <div class="box">
                                
                                 <p><strong>Name:</strong> {{userName}}</p>
                                 <p><strong>Type:</strong> {{bookingUserType}}</p>
                                 <p><strong>Email:</strong> {{userEmail}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn submit-style cancel" ng-show="userType=='admin'" ng-click="cancelBooking()">Cancel Booking</button>
                    <button type="submit" class="btn submit-style" ng-click="cancel()">Back</button>

                </div>
            </div>
        </script>  
    </div>

    <!--Booking Confirmation Popup Template -->
    <div>
        <script type="text/ng-template" id="bookingConfirmationPopup.html">
            <!-- Modal content-->
            <div class="modal-content confirmation-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title " ng-class="{'success' : success, 'confirmation-error' : !success }">{{statusText}}</h4>
                </div>
                <div class="modal-body confirmation-body">
                        <div class="book-room-info">
                            <p><strong>Building:</strong> {{building}}</p>
                            <p><strong>Room #:</strong> {{roomNum}}</p>
                            <p><strong>Date:</strong> {{date}}</p>
                            <p><strong>Time:</strong> {{startTime}} - {{endTime}}</p>
                            <p><strong>Number of People: </strong> {{numPeople}}</p>
                            <p><strong>Reason:</strong> {{reason}}</p>
                            <div ng-show="reason=='Other'">
                                <p><Strong>Description: </Strong> {{description}}</p>
                            </div>
                            <div ng-show="reason=='Performance'">
                                <p><Strong>Performance Title: </Strong> {{description}}</p>
                            </div>
                            <div ng-show="reason=='Course' || reason=='Coursework'">
                                <p><Strong>Course Code: </Strong> {{description}}</p>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn submit-style" ng-click="cancel()">Ok</button>

                </div>
            </div>
        </script>  
    </div>

    <!--Recurring Booking Confirmation Popup Template -->
    <div>
        <script type="text/ng-template" id="recurringBookingConfirmationPopup.html">
            <!-- Modal content-->
            <div class="modal-content confirmation-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title " ng-class="{'success' : success, 'confirmation-error' : !success || !allBookingsSucceeded }">{{statusText}}</h4>
                </div>
                <div class="modal-body confirmation-body">
                    <div class="book-room-info">
                        <p><strong>Building:</strong> {{building}}</p>
                        <p><strong>Room #:</strong> {{roomNum}}</p>
                        <p><strong>Time:</strong> {{startTime}} - {{endTime}}</p>
                    </div>
                </div>
                <div class="box confirmPop green" ng-show="success">
                    <div>
                        <Strong> Successful Bookings: </Strong>
                    </div>
                    <div ng-repeat="entry in successfulBookings">{{entry | date:'MMM d, yyyy'}}</div>
                </div>
                <div class="box confirmPop red" ng-show="!allBookingsSucceeded">
                    <div>
                        <Strong> Failed Bookings: </Strong>
                    </div>
                    <div ng-repeat="entry in failedBookings">{{entry | date:'MMM d yyyy'}}</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn submit-style" ng-click="closePopup()" ng-show="success">Continue with successful bookings </button>
                    <button type="submit" class="btn submit-style" ng-click="closePopup()" ng-show="!success">Ok </button>
                    <button ng-show="!allBookingsSucceeded" type="submit" class="btn submit-style" ng-click="cancelAll()">Cancel All Bookings</button>

                </div>
            </div>
        </script>  
    </div>