
.search{
	text-align:center;
}

.search h1{
	font-size: 130%;
    font-weight: bold;
    margin: 0px;
}
.search label{
	padding-right: 10px;
}


.search .search-bar{
	margin-top: 15px !important;
	display:inline-block;
	margin:20px 10px 20px 20px;
	padding:10px;
	background-color:#c2d2d6;
}


.search .width50{
	width:50%;
}

.search .building-selection-title, .search .time-picker-header{
	display: inline;
    font-size: 120%;
    margin-right: 7px;
    margin-left: 7px;
}

.search .date-header{
	font-size: 120%;
    margin-right: 7px;
    margin-left: 7px;
    padding:0px;
}

.search .time-picker-align{
	display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 450px;
    min-width:450px;
    margin-left: auto;
    margin-right: auto;
}

.search .fc-view-container{
	width:90%;
	margin-right:5%;
	margin-left:5%;
}

.search .fc-time-grid-container{
     height:100% !important;
 }

