.loading-text{
    color: #668f99;
    padding-top: 260px;
    text-align: center;
}

.navbar-default{
	margin-right: auto;
    margin-left: auto;
    width: 600px;
    margin-top:20px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}


.end-time {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.date-column{
	padding-right: 20px;
}

.select-user-type{
	outline: black solid thick;
}

.box{
 	border: 1px solid #e5e5e5;
    padding: 10px;
 }

 .box.confirmPop {
 	border: 1px solid #e5e5e5;
    padding: 10px;
    margin: 10px 30px;
 }
 .box.confirmPop.red {
 	border: 1px solid red;
 }
 .box.confirmPop.green {
 	border: 1px solid green;
 }

 .success{
 	color:green;
 	font-size:150%;
 }
.confirmation-content{
	text-align:center;
}

.confirmation-body{
	display:inline-block;
	text-align:left;
}

.confirmation-error{
	color:red;
	font-size: 17px;
    width: 95%;

}

.fully-transparent{
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

.default-padding{
	padding: 15px 15px;
}

.info-i{
	width: 20px;
    height: 20px;
    margin-bottom:4px;
}

.fc-toolbar{
	height: 10px;
	margin:0px;
}

.cancel-button{
	padding: 5px 10px !important;

}

textarea.ng-invalid.ng-dirty {
    border-color: #ff8080;
    border-width:2px;
}
textarea.ng-invalid.ng-touched {
    border-color: #ff8080;
    border-width:2px;
}

.ng-submitted textarea.ng-invalid{
	border-color: #ff8080;
    border-width:2px;
}

input[type=text].ng-invalid.ng-dirty {
    border-color: #ff8080;
    border-width:2px;
}
input[type=text].ng-invalid.ng-touched {
    border-color: #ff8080;
    border-width:2px;
}

input[type=number].ng-invalid.ng-dirty {
    border-color: #ff8080;
    border-width:2px;
}
input[type=number].ng-invalid.ng-touched {
    border-color: #ff8080;
    border-width:2px;
}
.ng-submitted input.ng-invalid{
	border-color: #ff8080;
    border-width:2px;
}

.help-block{
	color:#ff4d4d !important;
}

td.fc-widget-content{
	cursor:pointer;
}



.modal-body.information-header td{
	padding: 3px 6px;
}

.nav-tabs.nav-justified {
    width: 93% !important;
    border-bottom: 0;
}

.textarea.form-control{
	max-width:100%;
}


/* box shadow on non active tabs*/
.nav-tabs>li>a {
	box-shadow: 0px -1px 3px #bfbfbf;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	box-shadow:none;
}

/*Dropdowns css*/

.dropdrown{
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.col-xs-12{
	padding:0px !important;
	margin: 0 0 10px;
}

.col-sm-6.col-xs-12{
	padding:0px !important;
}

.date-column.end-date{
	margin-top: 40px;
}

/* All Buttons */
button.submit-style {
	display: inline-block;
	color: #666 !important;
	background-color: #eee;
	letter-spacing: 2px;
	font-size: 14px !important;
	padding: 8px 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 2px;
}
button.submit-style.small {
	padding: 6px 10px !important;

}

	button:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	button:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

@media(min-width:768px){
	.navbar-centered .navbar-nav{
		float:none;
		text-align:center;
	}
	.navbar-centered .navbar-nav >li{
		float:none;
		display: inline-block;
	}
	.navbar-center .nav >li {
		display:inline;
	}
	.navbar-centered .nav >li >a{
		display: inline-block;
	}
}

@media(max-width:768px){
	.navbar-centered .navbar-nav{
		float:none;
		text-align:center;
	}
	.navbar-centered .navbar-nav >li{
		float:none;
		display: inline-block;
	}
	.navbar-center .nav >li {
		display:inline;
	}
	.navbar-centered .nav >li >a{
		display: inline-block;
	}

	.navbar-default{
		margin-right: auto;
	    margin-left: auto;
	    width: 100% !important;
	    margin-top:20px;
	}
}

 /* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
 	.date-column.end-date{
		margin-top: 0px;
	} 	
}


