.navbar-default{
	margin-right: auto;
    margin-left: auto;
    width: 550px;
    margin-top:20px;
}


.end-time {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}



@media(min-width:768px){
	.navbar-centered .navbar-nav{
		float:none;
		text-align:center;
	}
	.navbar-centered .navbar-nav >li{
		float:none;
		display: inline-block;
	}
	.navbar-center .nav >li {
		display:inline;
	}
	.navbar-centered .nav >li >a{
		display: inline-block;
	}
}
