.navbar-default{
	margin-right: auto;
    margin-left: auto;
    width: 600px;
    margin-top:20px;
}


.end-time {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.date-column{
	padding-right: 20px;
}

.select-user-type{
	outline: black solid thick;
}

.box{
 	border: 1px solid #e5e5e5;
    padding: 10px;
 }

 .success{
 	color:green;
 	font-size:150%;
 }
.confirmation-content{
	text-align:center;
}

.confirmation-body{
	display:inline-block;
	text-align:left;
}

.confirmation-error{
	color:red;
}

@media(min-width:768px){
	.navbar-centered .navbar-nav{
		float:none;
		text-align:center;
	}
	.navbar-centered .navbar-nav >li{
		float:none;
		display: inline-block;
	}
	.navbar-center .nav >li {
		display:inline;
	}
	.navbar-centered .nav >li >a{
		display: inline-block;
	}
}

@media(max-width:768px){
	.navbar-centered .navbar-nav{
		float:none;
		text-align:center;
	}
	.navbar-centered .navbar-nav >li{
		float:none;
		display: inline-block;
	}
	.navbar-center .nav >li {
		display:inline;
	}
	.navbar-centered .nav >li >a{
		display: inline-block;
	}

	.navbar-default{
		margin-right: auto;
	    margin-left: auto;
	    width: 100% !important;
	    margin-top:20px;
	}
}
