<h1 id='user-title'> Users page </h1>

<!-- alert after attempting to make a booking -->
<script type="text/ng-template" id="alert.html">
	<div class="alert" style="background-color:#fa39c3;color:white" role="alert">
		<div ng-transclude></div>
	</div>
</script>
<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="10000" close="closeAlert($index)">{{alert.msg}}</uib-alert>

<!-- Upload Buttons -->
<!-- To remove "Choose file" button, set display:none and have button onclick=click() the input. 'Onchange' doesn't always work though. See file history. -->
<p>
<b>Upload Music List</b>
<input type="file" id="musicFile" name="musicFile" ng-model="selectedFile"/>
<button onclick="angular.element(this).scope().uploadList(document.getElementById('musicFile').files[0], 'Music')">Submit</button>
</p>

<p>
<b>Upload Drama List</b>
<input type="file" id="dramaFile" name="dramaFile" ng-model="selectedFile"/>
<button onclick="angular.element(this).scope().uploadList(document.getElementById('dramaFile').files[0], 'Drama')">Submit</button>
</p>