<h1 id='user-title'> Users page </h1>

<input type="file" style="display:none" id="musicFile" name="musicFile" ng-model="selectedFile" onchange="angular.element(this).scope().uploadList(this.files[0], 'Music')" />
<button onclick="document.getElementById('musicFile').click();">Upload Music List</button>

<br>

<input type="file" style="display:none" id="dramaFile" name="dramaFile" ng-model="selectedFile" onchange="angular.element(this).scope().uploadList(this.files[0], 'Drama')" />
<button onclick="document.getElementById('dramaFile').click();">Upload Drama List</button>